[Unit]
Description=Forces a system clock time update from the current NTP source
After=autohotspot.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/forcetimeupdate.sh
[Install]
WantedBy=multi-user.target
